.chat {
  flex: 1 1 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2196078431);
  border: 1px solid rgba(69, 77, 94, 0.2117647059);
  overflow-y: hidden;
  height: 100%;
}

.chat_header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-bottom: 1px solid rgba(69, 77, 94, 0.2117647059);
}

.header_ava {
  background-color: #454d5e;
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.header_ava img {
  object-fit: cover;
  height: 110%;
  width: 110%;
  display: block;
}

.header_name {
  font-size: 20px;
}

.chat_content {
  flex: 1 0 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: url("https://img.freepik.com/premium-vector/abstract-background-with-modern-style-and-hexagon-pattern_7505-1736.jpg") repeat;
  padding: 10px 2px 10px 12px;
  overflow: hidden;
  overflow-y: scroll;
  border-bottom: 1px solid rgba(69, 77, 94, 0.2117647059);
}
.chat_content::-webkit-scrollbar {
  width: 12px;
}
.chat_content::-webkit-scrollbar-track {
  background-color: transparent;
  position: absolute;
}
.chat_content::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border-radius: 7px;
  background-color: rgba(69, 77, 94, 0.2470588235);
  background-color: transparent;
  border: 2px solid transparent;
}
.chat_content:hover::-webkit-scrollbar-thumb {
  background-color: rgba(69, 77, 94, 0.2470588235);
}
.chat_content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(69, 77, 94, 0.4392156863);
}
.chat_content > :first-child {
  margin-top: auto;
}

.input_container {
  display: flex;
  justify-content: space-between;
  flex: 0 1 auto;
}
.input_container__input {
  line-height: 120%;
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  min-height: 40px;
  height: 40px;
  max-height: 200px;
  width: 100%;
  resize: none;
  overflow-y: auto;
  border-radius: 0 0 0 20px;
}
.input_container__input::-webkit-scrollbar {
  width: 12px;
}
.input_container__input::-webkit-scrollbar-track {
  background-color: transparent;
  position: absolute;
}
.input_container__input::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border-radius: 7px;
  background-color: rgba(69, 77, 94, 0.2470588235);
  border: 2px solid transparent;
}
.input_container__input::-webkit-scrollbar-thumb:hover {
  background-color: rgba(69, 77, 94, 0.3568627451);
}
.input_container__input > :first-child {
  margin-top: auto;
}

.button {
  padding-top: 7px;
  align-self: flex-start;
  flex: 0 0 35px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: transparent;
}
.button__svg {
  fill: rgba(69, 77, 94, 0.8);
  transform: rotate(0);
  transform-origin: 40% 50%;
  transition: all 0.1s;
}
.button:hover .button__svg {
  fill: #39445c;
  transform: rotate(-45deg);
}

.errorMessage {
  display: none;
}