.posts {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(237, 237, 243);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4196078431);
  position: relative;
  margin-bottom: 20px;
}
.posts h2 {
  display: block;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.posts__new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}
.posts__new div {
  align-self: stretch;
}
.posts__input {
  flex: 1 1 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.137254902);
  border: 1px solid rgba(0, 0, 0, 0);
  color: #000;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 20px;
  min-width: 100%;
  min-height: 45px;
  max-height: 150px;
  height: 45px;
  resize: vertical;
  transition: background-color 0.1s, border 0.1s;
}
.posts__input::selection {
  background-color: rgba(69, 77, 94, 0.768627451);
  color: white;
}
.posts__input:focus {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(70, 70, 70, 0.2196078431);
}
.posts__button {
  overflow: hidden;
  align-self: end;
  border: solid 1px #cfcfcf;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  transition: all 0.2s ease-in-out;
}
.posts__button:hover {
  border: solid 1px #454d5e;
  background-color: #454d5e;
  color: #fff;
  transition: all 0.1s ease-in-out;
}
.posts__button:disabled {
  opacity: 0.7;
}
.posts__wall {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.posts__post {
  display: flex;
  margin-bottom: 10px;
  padding: 20px;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4196078431);
}
.posts__pic {
  border-radius: 50%;
  background-color: #454d5e;
  min-width: 50px;
  min-height: 50px;
}
.posts__posttext {
  font-size: 20px;
}

@keyframes loading {
  0% {
    left: -25%;
  }
  50% {
    left: 200%;
  }
  100% {
    left: 200%;
  }
}
.loading {
  position: relative;
}
.loading__header {
  position: relative;
  background-color: #D5D6DC;
  overflow: hidden;
  border-radius: 16px;
  height: 32px;
  margin-bottom: 10px;
  width: 180px;
}
.loading__header:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -100%;
  left: -25%;
  height: 400%;
  width: 20%;
  animation: loading 2s linear 0s infinite normal forwards;
  rotate: 20deg;
  filter: drop-shadow(0 0 10px #ffffff);
  box-shadow: 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff;
}
.loading__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.loading__newPost {
  position: relative;
  background-color: #D5D6DC;
  overflow: hidden;
  height: 45px;
  border-radius: 22.5px;
  width: 100%;
}
.loading__newPost:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -100%;
  left: -25%;
  height: 400%;
  width: 20%;
  animation: loading 2s linear 0s infinite normal forwards;
  rotate: 20deg;
  filter: drop-shadow(0 0 10px #ffffff);
  box-shadow: 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff;
}
.loading__button {
  position: relative;
  background-color: #D5D6DC;
  overflow: hidden;
  height: 37px;
  border-radius: 18.5px;
  width: 89px;
  align-self: end;
}
.loading__button:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -100%;
  left: -25%;
  height: 400%;
  width: 20%;
  animation: loading 2s linear 0s infinite normal forwards;
  rotate: 20deg;
  filter: drop-shadow(0 0 10px #ffffff);
  box-shadow: 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff;
}
.loading__wall {
  display: flex;
  flex-direction: column;
  gap: 10px;
}