.posts {
   display: flex;
   flex-direction: column;
   padding: 20px;
   border-radius: 20px;
   background-color: rgb(237, 237, 243);
   box-shadow: 0 0 10px #0000006b;
   position: relative;
   margin-bottom: 20px;

   h2 {
      display: block;
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 10px;
   }

   &__new {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      gap: 10px;

      div {
         align-self: stretch;
      }
   }

   &__input {
      &::selection {
         background-color: #454d5ec4;
         color: white;
      }

      background-color: #00000023;
      border: 1px solid #00000000;
      color: #000;
      font-size: 20px;
      padding: 10px 15px;
      border-radius: 20px;
      min-width: 100%;
      overflow-y: auto;
      min-height: 45px;
      max-height: 250px;

      resize: none;
      transition: background-color 0.1s,
      border 0.1s;

      &:focus {
         background-color: #ffffffcc;
         border: 1px solid #46464638;
      }


      &::-webkit-scrollbar {
         width: 12px;
      }

      &::-webkit-scrollbar-track {
         background-color: transparent;
         position: absolute;
         margin: 12px 0 12px 0;
      }

      &::-webkit-scrollbar-thumb {
         background-clip: content-box;
         border-radius: 7px;
         background-color: #454d5e3f;
         border: 2px solid transparent;
      }

      &::-webkit-scrollbar-thumb {
         background-color: #454d5e5b;
      }

      &::-webkit-scrollbar-thumb:hover {
         background-color: #454d5e5b;
      }

      &:focus {
         &::-webkit-scrollbar-thumb:hover {
            background-color: #454d5e5b;
         }
      }
   }

   &__button {
      overflow: hidden;
      align-self: end;
      border: solid 1px #cfcfcf;
      padding: 7px 15px;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      border-radius: 20px;
      background-color: #fff;
      color: #000;
      transition: all 0.2s ease-in-out;

      &:hover {
         border: solid 1px #454d5e;
         background-color: #454d5e;
         color: #fff;
         transition: all 0.1s ease-in-out;
      }

      &:disabled {
         opacity: 0.7;
      }

   }

   &__wall {
      display: flex;
      flex-direction: column;
      gap: 10px;

   }
}

@mixin loadingItem {
   background-color: #53586128;
}

@mixin loading_element {
   position: relative;
   background-color: #D5D6DC;
   overflow: hidden;

   &:before {
      content: '';
      background-color: #ffffff;
      position: absolute;
      bottom: -100%;
      left: -25%;
      height: 400%;
      width: 20%;
      animation: loading 2s linear 0s infinite normal forwards;
      rotate: 20deg;
      filter: drop-shadow(0 0 10px #ffffff);
      box-shadow: 0 0 10px #fff,
         0 0 3px #fff,
         0 0 4px #fff,
         0 0 5px #fff,
         0 0 10px #fff;
   }
}

@keyframes loading {
   0% {
      left: -25%;
   }

   50% {
      left: 200%;
   }

   100% {
      left: 200%;
   }
}

.loading {
   position: relative;

   &__header {
      @include loading_element;
      border-radius: 16px;
      height: 32px;
      margin-bottom: 10px;
      width: 180px;
   }

   &__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
   }

   &__newPost {
      @include loading_element;
      height: 45px;
      border-radius: 22.5px;
      width: 100%;
   }

   &__button {
      @include loading_element;
      height: 37px;
      border-radius: 18.5px;
      width: 89px;
      align-self: end;
   }

   &__wall {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
}