.posts {
   display: flex;
   flex-direction: column;
   padding: 20px;
   border-radius: 20px;
   background-color: rgb(237, 237, 243);
   box-shadow: 0 0 10px #0000006b;
   position: relative;
   margin-bottom: 20px;

   h2 {
      display: block;
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 10px;
   }

   &__new {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      gap: 10px;

      div {
         align-self: stretch;
      }
   }

   &__input {
      &::selection {
         background-color: #454d5ec4;
         color: white;
      }

      flex: 1 1 auto;
      display: block;
      background-color: #00000023;
      border: 1px solid #00000000;
      color: #000;
      font-size: 20px;
      padding: 10px 15px;
      border-radius: 20px;
      min-width: 100%;
      min-height: 45px;
      max-height: 150px;
      height: 45px;
      resize: vertical;
      transition: background-color 0.1s,
      border 0.1s;

      &:focus {
         background-color: #ffffffcc;
         border: 1px solid #46464638;
      }
   }

   &__button {
      overflow: hidden;
      align-self: end;
      border: solid 1px #cfcfcf;
      padding: 7px 15px;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      border-radius: 20px;
      background-color: #fff;
      color: #000;
      transition: all 0.2s ease-in-out;

      &:hover {
         border: solid 1px #454d5e;
         background-color: #454d5e;
         color: #fff;
         transition: all 0.1s ease-in-out;
      }

      &:disabled {
         opacity: 0.7;
      }

   }

   &__wall {
      display: flex;
      flex-direction: column;
      gap: 10px;

   }

   &__post {

      display: flex;
      margin-bottom: 10px;
      padding: 20px;
      align-items: center;
      gap: 20px;
      background-color: #fff;
      border-radius: 30px;
      box-shadow: 0 0 5px #0000006b;
   }

   &__pic {
      border-radius: 50%;
      background-color: #454d5e;
      min-width: 50px;
      min-height: 50px;
   }

   &__posttext {
      font-size: 20px;
   }
}