a {
  color: black;
  text-decoration: none;
}

.content {
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(237, 237, 243);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4196078431);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.user_container {
  border: 1px solid transparent;
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4196078431);
  justify-content: space-between;
  padding: 15px;
}

.left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.left .image {
  border: 1px solid transparent;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.left .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.left .buttonAdd {
  border: 1px solid #dadada;
  background-color: rgba(69, 77, 94, 0.0470588235);
  color: #000;
}
.left .buttonAdd:hover {
  border: solid 1px #454d5e;
  background-color: #454d5e;
  color: #fff;
}
.left .buttonDelete {
  background-color: rgba(190, 93, 93, 0.2);
  border: solid 1px rgba(190, 93, 93, 0.0392156863);
}
.left .buttonDelete:hover {
  border: solid 1px #be5d5d;
  background-color: #be5d5d;
  color: #fff;
}
.left button {
  border: solid 1px #cfcfcf;
  width: 100%;
  overflow: hidden;
  align-self: end;
  padding: 7px 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 20px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.left button:hover {
  transition: all 0.1s ease-in-out;
}
.left button:disabled {
  opacity: 0.7;
}

.central {
  flex: 1 1 auto;
}

.name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  margin-bottom: 5px;
}

.location {
  margin-bottom: 10px;
  font-size: 14px;
}

.status {
  margin-bottom: 10px;
  font-size: 18px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.actions button {
  width: 100%;
  display: block;
  overflow: hidden;
  align-self: end;
  padding: 7px 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: solid 1px #e4e4e4;
  color: #000;
  position: relative;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
}
.actions button:hover {
  transition: all 0.1s ease-in-out;
  color: #fff;
}
.actions .buttonSmoke:hover {
  transition: all 0.1s ease-in-out;
  background-color: #353535;
  border: solid 1px #353535;
  color: #fff;
}
.actions .buttonCome:hover {
  background-color: #60be5d;
  border: solid 1px #60be5d;
  color: #fff;
}
.actions .buttonBother:hover {
  border: solid 1px #be5d5d;
  background-color: #be5d5d;
  color: #fff;
}

.getButton {
  display: block;
  border: solid 1px #cfcfcf;
  overflow: hidden;
  padding: 8px 15px;
  font-size: 16px;
  align-self: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 20px;
  position: relative;
  transition: all 0.2s ease-in-out;
  border: 1px solid #dadada;
  background-color: #ffffff;
  color: #000;
}
.getButton:hover {
  border: solid 1px #454d5e;
  background-color: #454d5e;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

@keyframes loading {
  0% {
    left: -25%;
  }
  50% {
    left: 200%;
  }
  100% {
    left: 200%;
  }
}
.loading__content {
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(237, 237, 243);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4196078431);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.loading__container {
  border: 1px solid transparent;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4196078431);
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 30px;
  justify-content: space-between;
  padding: 15px;
}
.loading__left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.loading__image {
  position: relative;
  background-color: rgb(227, 227, 231);
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.loading__image:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -20px;
  left: -25%;
  height: 400%;
  width: 20%;
  animation: loading 1s linear 0s infinite normal forwards;
  rotate: 20deg;
  filter: drop-shadow(0 0 10px #ffffff);
  box-shadow: 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff;
}
.loading__buttonAdd {
  position: relative;
  background-color: rgb(227, 227, 231);
  overflow: hidden;
  color: #000;
  width: 100%;
  overflow: hidden;
  align-self: end;
  padding: 7px 15px;
  height: 32px;
  letter-spacing: 2px;
  border-radius: 20px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.loading__buttonAdd:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -20px;
  left: -25%;
  height: 400%;
  width: 20%;
  animation: loading 1s linear 0s infinite normal forwards;
  rotate: 20deg;
  filter: drop-shadow(0 0 10px #ffffff);
  box-shadow: 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff;
}
.loading__central {
  flex: 1 1 auto;
}
.loading__name {
  position: relative;
  background-color: rgb(227, 227, 231);
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  margin-bottom: 5px;
  height: 20px;
  border-radius: 10px;
  width: 200px;
}
.loading__name:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -20px;
  left: -25%;
  height: 400%;
  width: 20%;
  animation: loading 1s linear 0s infinite normal forwards;
  rotate: 20deg;
  filter: drop-shadow(0 0 10px #ffffff);
  box-shadow: 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff;
}
.loading__location {
  position: relative;
  background-color: rgb(227, 227, 231);
  overflow: hidden;
  margin-bottom: 10px;
  height: 14px;
  width: 100px;
  border-radius: 7px;
}
.loading__location:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -20px;
  left: -25%;
  height: 400%;
  width: 20%;
  animation: loading 1s linear 0s infinite normal forwards;
  rotate: 20deg;
  filter: drop-shadow(0 0 10px #ffffff);
  box-shadow: 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff;
}
.loading__status {
  position: relative;
  background-color: rgb(227, 227, 231);
  overflow: hidden;
  margin-bottom: 10px;
  height: 18px;
  width: 250px;
  border-radius: 9px;
}
.loading__status:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -20px;
  left: -25%;
  height: 400%;
  width: 20%;
  animation: loading 1s linear 0s infinite normal forwards;
  rotate: 20deg;
  filter: drop-shadow(0 0 10px #ffffff);
  box-shadow: 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff;
}
.loading__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.loading__buttonRight {
  position: relative;
  background-color: rgb(227, 227, 231);
  overflow: hidden;
  width: 150px;
  display: block;
  overflow: hidden;
  align-self: end;
  padding: 7px 15px;
  height: 34px;
  letter-spacing: 2px;
  border-radius: 20px;
  color: #000;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.loading__buttonRight:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -20px;
  left: -25%;
  height: 400%;
  width: 20%;
  animation: loading 1s linear 0s infinite normal forwards;
  rotate: 20deg;
  filter: drop-shadow(0 0 10px #ffffff);
  box-shadow: 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff;
}