.picture {
   img {
      display: block;
      margin: 100px auto;
   }
}

.container {
   // border: 1px solid #000;
   user-select: none;
   position: absolute;
   z-index: 999;
   height: 100%;
   width: 100%;
   background-color: #ffffff94;
   border-radius: 20px;
   overflow: hidden;

}