.picture img {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5803921569);
  border-radius: 20px;
  overflow: hidden;
}