.header {
   border-radius: 0 0 20px 20px;
   background-color: rgb(237, 237, 243);
   box-shadow: 0 0 10px #0000006b;

   grid-area: header;
   padding: 5px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__item {
      gap: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__logo {
      background-color: #fff;
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%;
      overflow: hidden;
      padding: 6px;


      img {
         width: 100%;
         height: 100%;
         // color: #454d5e;
      }
   }

   &__head {
      a {
         color: #000;
      }

      font-size: 36px;
      text-transform: uppercase;
      font-weight: 800;
   }

   &__loginBlock {
      font-size: 20px;

      a {
         color: #000;
      }
   }
}

.logged {
   display: flex;
   align-items: center;
   gap: 10px;

   &__icon {
      background-color: transparent;
      translate: -4px 2px;
      display: block;
      width: 30px;
      height: 30px;

      // border: 1px solid #000;
      border-radius: 50%;

      img {
         position: relative;
         right: 2px;
         width: 70%;
         height: 70%;
         // object-fit: cover;
      }

      transition: all 0.1s;

      &:hover {
         background-color: #4f535c60;

         img {
            filter: hue-rotate(100)
         }
      }
   }

   &__login {
      color: #000;
   }

   &__pic {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      a {
         color: black;
      }
   }
}