.container {
   grid-area: navigation;
}

.navigation {
   margin-bottom: 20px;
   position: relative;
   border-radius: 20px;
   background-color: rgb(237, 237, 243);
   box-shadow: 0 0 10px #0000006b;
   padding: 10px 20px 10px 20px;

   z-index: 1;
   align-self: start;

   &__item {
      text-align: center;

      &:not(:first-child) {
         border-top: 1px solid #454d5e36;
         border-radius: 5px;
      }

   }

   &__link {
      position: relative;
      color: #000000;
      font-size: 22px;
      padding: 10px 0;
      display: block;
      height: 100%;
      overflow: hidden;
      transition: all 0.15s;
      border-radius: 5px;

      &::before {
         content: "";
         transition: all 0.15s;
         display: block;
         position: absolute;
         top: 100%;
         left: 0;
         height: 100%;
         width: 100%;
         background-color: #454d5ede;
         z-index: -1;
      }

      &:hover {
         color: #fff;

         &::before {
            top: 0;
         }
      }
   }
}

.activeLink {
   position: relative;
   color: #000000;
   font-size: 22px;
   padding: 10px 0;
   display: block;
   height: 100%;
   overflow: hidden;
   transition: all 0.15s;
   border-radius: 5px;

   &::before {
      content: "";
      transition: all 0.15s;
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #454d5e;
      z-index: -1;
   }

   color: #fff;

   &::before {
      top: 0;
   }
}