.posts__post {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4196078431);
  justify-content: space-between;
}
.posts__pic {
  flex: 0 0 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.posts__pic img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.posts__posttext {
  white-space: pre-wrap;
  font-size: 20px;
  flex: 1 1 auto;
  line-height: 120%;
}
.posts__likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55px;
  flex: 0 0 40px;
  position: relative;
}
.posts__like {
  height: 30px;
  width: 30px;
}
.posts__like button {
  background-color: transparent;
}
.posts__like img {
  width: 100%;
  height: 100%;
  filter: invert(20%);
}
.posts__count {
  color: rgba(27, 31, 39, 0.8235294118);
  flex: 0 0 auto;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
}

@keyframes loading {
  0% {
    left: -25%;
  }
  50% {
    left: 200%;
  }
  100% {
    left: 200%;
  }
}
.loading__pic {
  position: relative;
  background-color: #D5D6DC;
  overflow: hidden;
  flex: 0 0 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.loading__pic:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -100%;
  left: -25%;
  height: 400%;
  width: 20%;
  animation: loading 2s linear 0s infinite normal forwards;
  rotate: 20deg;
  filter: drop-shadow(0 0 10px #ffffff);
  box-shadow: 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff;
}
.loading__posttext {
  position: relative;
  background-color: #D5D6DC;
  overflow: hidden;
  height: 28px;
  flex: 1 0 auto;
  overflow: hidden;
  border-radius: 14px;
}
.loading__posttext:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -100%;
  left: -25%;
  height: 400%;
  width: 20%;
  animation: loading 2s linear 0s infinite normal forwards;
  rotate: 20deg;
  filter: drop-shadow(0 0 10px #ffffff);
  box-shadow: 0 0 10px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #fff;
}