@import "template.scss";

.container {
   // border: 3px solid #000;
   border-radius: 20px;
   background-color: rgb(237, 237, 243);
   box-shadow: 0 0 10px #0000006b;
   padding: 20px;
}

.item {}

.ava {}

.name {}