.posts {
   &__post {

      display: flex;
      // margin-bottom: 10px;
      padding: 20px;
      align-items: center;
      gap: 20px;
      background-color: #fff;
      border-radius: 30px;
      box-shadow: 0 0 5px #0000006b;
      justify-content: space-between;
   }

   &__pic {
      flex: 0 0 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;

      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
      }

   }

   &__posttext {
      font-size: 20px;
      flex: 1 1 auto;
      line-height: 140%;
   }

   &__likes {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 55px;
      flex: 0 0 40px;
      // overflow: hidden;
      position: relative;

   }

   &__like {
      height: 30px;
      width: 30px;


      button {
         background-color: transparent;
      }

      img {
         width: 100%;
         height: 100%;

         filter: invert(20%);
      }

   }

   &__count {
      color: #1b1f27d2;
      flex: 0 0 auto;
      font-size: 20px;
      font-weight: 600;
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(50%);
   }
}

@mixin loadingItem {
   background-color: #53586128;
}

@mixin loading_element {
   position: relative;
   background-color: #D5D6DC;
   overflow: hidden;

   &:before {
      content: '';
      background-color: #ffffff;
      position: absolute;
      bottom: -100%;
      left: -25%;
      height: 400%;
      width: 20%;
      animation: loading 2s linear 0s infinite normal forwards;
      rotate: 20deg;
      filter: drop-shadow(0 0 10px #ffffff);
      box-shadow: 0 0 10px #fff,
         0 0 3px #fff,
         0 0 4px #fff,
         0 0 5px #fff,
         0 0 10px #fff;
   }
}

@keyframes loading {
   0% {
      left: -25%;
   }

   50% {
      left: 200%;
   }

   100% {
      left: 200%;
   }
}

.loading {
   &__pic {
      @include loading_element;
      flex: 0 0 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
   }

   &__posttext {
      @include loading_element;
      height: 28px;
      flex: 1 0 auto;
      overflow: hidden;
      border-radius: 14px;
   }
}