.messageOther {
   align-self: flex-start;
   background-color: rgb(234, 234, 255);
   border: 1px solid #454d5e42;
   border-radius: 20px 20px 20px 0;
}

.messageMy {
   align-self: flex-end;
   background-color: rgb(236, 255, 234);
   border: 1px solid #455e4942;
   border-radius: 20px 20px 0 20px;

}

.messageMy,
.messageOther {
   display: inline-block;
   padding: 2px 10px;
   font-size: 16px;
   line-height: 150%;
   // max-inline-size: 400px;
   // overflow-wrap: break-word;

}