.message {
   align-self: flex-start;
   background-color: rgb(234, 234, 255);
   border: 1px solid #454d5e42;
   padding: 2px 10px;
   border-radius: 20px 20px 20px 0;
   font-size: 16px;
   line-height: 150%;
}