.content {

   &__item {
      // position: relative
   }

   &__cover {
      height: 200px;
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 20px;
      border-radius: 20px;
      background-color: rgb(237, 237, 243);
      box-shadow: 0 0 10px #0000006b;

      img {
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }

   &__info {}

   &__posts {}
}

.info {
   background-color: rgb(237, 237, 243);
   box-shadow: 0 0 10px #0000006b;
   border-radius: 20px;
   display: flex;
   align-items: top;
   justify-content: left;
   gap: 20px;
   padding: 20px;
   margin-bottom: 20px;

   &__item {
      flex: 0 1 auto;
   }

   &__info {
      flex: 0 1 auto;
      overflow: hidden;
   }

   &__photo {
      position: relative;
      overflow: hidden;
      border-radius: 50%;

      img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      &__upd {
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: #00000052;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         opacity: 0;
         border-radius: 50%;
         transition: all 0.1s;
         z-index: 10;
         cursor: pointer;

         &__icon {
            color: #fff;
            font-size: 60px;
         }
      }


      &:hover {

         .info__photo__upd {
            opacity: 1;
         }
      }
   }

   &__updatePhoto {
      border-radius: 50%;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #000;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 10;

      &::-webkit-file-upload-button {
         cursor: pointer;
      }
   }

   &__name {
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 4px;
   }

   &__additional {
      display: flex;
      flex-direction: column;
      // gap: 8px;
      font-size: 16px;
      font-weight: 500;

   }

   &__contactsHead {
      // position: relative;
      // right: 8px;
      font-weight: 700;
      display: flex;
      gap: 5px;
      justify-content: left;
      flex-wrap: wrap;
      align-items: center;
   }

   &__looking,
   &__lookingActive {

      font-weight: 700;
      color: #00000096;
      margin-bottom: 5px;
      position: relative;
      transition: all 0.2s;

      label {
         display: block;
         padding-left: 50px;
         transition: all 0.2s;

         &:before,
         &:after {
            transition: all 0.2s;
         }
      }
   }

   &__looking {
      label:before {
         content: '';
         width: 35px;
         border-radius: 7px;
         height: 14px;
         background-color: #bfc0c4;
         position: absolute;
         top: 0;
         left: 0;
         box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      }

      label:after {
         content: '';
         width: 20px;
         border-radius: 50%;
         height: 20px;
         background-color: #bfc0c4;
         position: absolute;
         top: -3px;
         left: 0;
         box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      }
   }

   &__lookingActive {
      color: #000;

      label:before {
         content: '';
         width: 35px;
         border-radius: 7px;
         height: 14px;
         background-color: #454d5e;
         position: absolute;
         top: 0;
         left: 0;
         box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      }

      label:after {
         content: '';
         width: 20px;
         border-radius: 50%;
         height: 20px;
         background-color: #454d5e;
         position: absolute;
         top: -3px;
         left: 15px;
         box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      }
   }

   &__checkbox {
      cursor: pointer;
      position: absolute;
      width: 100%;
      opacity: 0;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 5px;
      z-index: 10;
   }

   &__contactName {
      font-weight: 700;
      display: flex;
      gap: 5px;
      justify-content: left;
      flex-wrap: nowrap;
      align-items: center;
      margin-left: 8px;

      a {
         border: 1px solid transparent;

         display: block;
         padding: 3px 5px;
      }
   }

   &__input {
      background-color: transparent;
      width: 100%;
      font-size: 16px;
      background-color: transparent;
      transition: all 0.1s;
      border: 1px solid transparent;
      border-radius: 20px;
      color: #000000;
      padding: 2px 5px;

      &:hover {
         background-color: #53586128;
      }

      &:focus {
         color: #000;
         background-color: #ffffffcc;
         background-color: #53586128;
         // border: 1px solid #46464638;

      }
   }

   &__contacts,
   &__contactsActive {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      font-weight: 500;
      transition: all 0.1s;
      padding: 10px;
      border: 1px solid transparent;
      border-radius: 20px;
   }

   &__contactsActive {
      background-color: #ffffff79;
      border-radius: 20px;
      border: 1px solid #4646462f;
      transition: all 0.1s;
   }

   &__contact {
      font-weight: 500;
      color: black;
   }

   &__contactNull {
      font-weight: 500;
      color: #00000073;
      border: 1px solid transparent;

      display: block;
      padding: 3px 5px;
   }

   &__error {
      color: red;
   }
}

.status {
   position: relative;
   border-radius: 20px;
   white-space: nowrap;
   // margin-bottom: 5px;
   max-height: 30px;

   &__text {
      border: 1px solid transparent;
      border-radius: 20px;
      color: #0000009f;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 18px;
      padding: 5px 7px;

      &:hover {
         background-color: #53586128;
         transition: all 0.2s ease;
      }
   }

   &__inputContainer {
      // margin-bottom: 12px;
      position: relative;
      bottom: 1px;
      // width: 100%;
   }

   input {
      font-size: 18px;
      padding: 5px 7px 3px 7px;
      overflow: hidden;
      text-wrap: nowrap;
      width: 100%;
      color: #0000009f;
      background-color: #53586128;
      border-radius: 20px;
      border: 1px solid transparent;
      transition: all 0.1s ease;

      &:focus {
         color: #000;
         background-color: #ffffffcc;
         border: 1px solid #46464638;
      }

   }
}