@import "template.scss";

.container {
   border-radius: 20px;
   background-color: rgb(237, 237, 243);
   box-shadow: 0 0 10px #0000006b;
   padding: 10px 20px 10px 20px;
}

.item {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 22px;
   padding: 10px 0;
   // border: 1px solid #000;
   justify-content: start;


   &:not(:first-child) {
      border-top: 1px solid #454d5e36;
      border-radius: 5px;
   }

}

.ava {
   width: 30px;
   height: 30px;
   background-color: #454d5e;
   border-radius: 50%;
}

.name {}