@import "template.scss";

.container {
   overflow-y: auto;
   overflow-x: auto;
   display: flex;
   align-items: flex-start;
   gap: 10px;
}


.item {}

.ava {
   height: 50px;
   width: 50px;
   background-color: #454d5e;
   border-radius: 50%;
   overflow: hidden;

   img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.name {}